```r
# Numeric
x <- 42          # assign 42 to x
y <- 3.14

# Character
name <- "Alice"

# Logical
is_raining <- FALSE

# Check data types
class(x)        # "numeric"
class(name)     # "character"
class(is_raining) # "logical"

___

###  Vectors â€“ The Building Block
```r
# A vector is a sequence of data elements
nums <- c(1, 2, 3, 4, 5)
chars <- c("a", "b", "c")

# Vector operations
nums + 1
sum(nums)
mean(nums)

___

### list

```r
my_list <- list(name = "Alice", age = 30, scores = c(90, 85, 88))
my_list$name
my_list$scores[2]

___

### matrix

```r
my_matrix <- matrix(1:9, nrow = 3, ncol = 3)
my_matrix[2, 3]   # Access row 2, column 3

___
### Array
```r 
my_array <- array(1:24, dim = c(3, 4, 2))  # 3 rows, 4 cols, 2 layers
my_array[1, 2, 1]  # First layer, row 1, column 2

___

### data frame

```r
name <- c("Alice", "Bob", "Charlie")
age <- c(25, 30, 28)
is_student <- c(TRUE, FALSE, TRUE)
df<- data.frame(name,age,is_student)

#### accessing
- df$name
- df$age
- row by index
  - df[1,]
- row 2, col 3
  - df[2,3]
- df[,"is_student"]

___

### filter rows
```r

df[df$is_student==TRUE,]
df[df$age>26,]